/*
formContainer, selectContainer,
contentContainer, app-footer
*/
:root {
  --mainBlue1: #245E5E;
  --mainBlue2: #5F8E8E;
  --mainBlue3: #3B7474;
  --mainBlue4: #124B4B;
  --mainBlue5: #033232;

  --mainYellow1: rgb(157, 115, 60);
  --mainYellow2: rgb(237, 203, 158);
  --mainYellow3: rgb(194, 160, 98);
  --mainYellow4: rgb(158, 121, 42);
  --mainYellow5: #544C06;

  --mainPurp1: #6D2A64;
  --mainPurp2: #A46E9E;
  --mainPurp3: #86447E;
  --mainPurp4: #57154F;
  --mainPurp5: #3A0434;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
  color: white;
  height: 100vh;
  background: rgb(29, 29, 29);
  box-shadow: 0 0 250px 8px inset rgba(37, 37, 37, 0.3)
}

h1,
.muted {
  /* color: #2c3e5099;*/
}

h1 {
  font-size: 26px;
  font-weight: 600;
}

#app {
  display: grid;
  max-width: 600px;
  grid-template-rows: 80px 1fr 3fr 50px;
  /* color: #2c3e5099;*/
  background: rgba(108, 29, 116, 0.9);
  border-left: 2px solid rgba(99, 44, 99, 0.8);
  border-right: 2px solid rgba(99, 44, 99, 0.8);
  box-shadow: 0 0 140px 8px inset rgba(60, 25, 60, 0.8);
  margin: 0em auto;
  color: white;
  height: 100vh;
  padding: 0px;

}

.app-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;
  padding: 0px;

}

.title {
  box-sizing: border-box;
  margin: 0 auto 10px auto;
  padding: 20px 0 10px 0;
  width: fit-content;
  border-bottom: 1px solid rgba(151, 57, 128, 0.822);
  text-align: center;
  color: #ffffff;
  font-size: 1.8em;
  letter-spacing: 8px;
  text-shadow: 0px 5px 25px var(--mainPurp5);

  /*
 box-shadow: 0 3px 10px 1px rgba(55, 30, 60, 0.5);
  background: rgba(75, 30, 75, 0.3);
  border-bottom: 2px solid rgba(60, 25, 65, 0.4);*/
}

.subtitle {
  box-sizing: border-box;
  margin: 0;
  padding: 15px;
  color: #ffffff;
}

.formContainer {
  padding: 15px;
}
.radioContainer {
  display: flex;
  justify-content: right;
}
.radioContainer>div {
padding: 10px;
margin: 2px auto;
  
}
.selectContainer {
  color: white;
  background: rgba(60, 35, 80, 0.6);
  border-radius: 3px;
  width: 100%;
  max-width: 330px;
  margin: auto;

}
.v-select {
  background: white;
  border: 1px solid rgba(55, 20, 60, 0.9);
  border-radius: 3px;
  font-size: 1.1em;
  
}

.datacard{
  background: white;
  color: black;
}
.datacard {
  font-size: 1.5em;
  text-align: center;

  box-sizing: border-box;
  margin: auto;
  padding: 20px 10px;
  width: 100%;
  box-shadow: 0 3px 10px 1px rgba(55, 30, 60, 0.0);
  background: rgba(175, 130, 175, 0.0);
  border-bottom: 2px solid rgba(60, 25, 65, 0.0);
  color: #ffffff;
}
.datacard>ul{
  list-style: none;
  margin: 30px auto;
  padding: 0;
  width: auto;
  text-align: left;
  text-shadow: 0 0 35px #00000095;
  font-size: 1em;
}
.datacard>ul>li {
  opacity: 0.9;
  text-shadow: 0 0 35px #00000095;
  font-size: 1em;
  letter-spacing: 2px;
  margin: 8px auto;
  width: fit-content;
  
  
}

.country-display{
  width: 100%;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.date-display{
  margin: 0 0 15px 0;;
  padding: 0;
  font-size: 0.8em;
  opacity: 0.9;
  
}

.confirmed-display{
  
}
.deaths-display{
  
}
.recovered-display{
  
}